/* Levy's Wofi Style */

/* Colors */ 
@define-color background    #212337;
@define-color foreground    #ebfafa;
@define-color black         #323449;
@define-color white         #ebfafa;
@define-color red           #f16c75;
@define-color green         #37f499;
@define-color blue          #7081d0;
@define-color yellow        #f1fc79;
@define-color magenta       #a48cf2;
@define-color cyan          #04d1f9;
@define-color orange        #f7c67f;

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 18px;
}

window {
    margin: 0px;
    font-size: 16px;
    font-family: monospace;
    
    border-radius: 6px;
    border: 3px solid @blue;
    background-color: @background;
}

#input {
    margin: 5px;
    border: 1px solid @cyan; 
    
    color: @orange;
    background-color: @background;
}

#inner-box {
    margin: 8px;
    border: none;
    background-color: @background;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: @black;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 10px;
    border: none;
    color: @green;
}

#entry:selected {
    font-weight: normal;
    background-color: #414868;
}

#text:selected {
    font-weight: normal;
    background-color: #414868;
}
