/* Levy's Waybar Style */

/* ============================================================================ */
/* Colors */
/* ============================================================================ */
@define-color background    #212337;
@define-color foreground    #ebfafa;
@define-color black         #323449;
@define-color white         #ebfafa;
@define-color red           #f16c75;
@define-color green         #37f499;
@define-color blue          #7081d0;
@define-color yellow        #f1fc79;
@define-color magenta       #a48cf2;
@define-color cyan          #04d1f9;
@define-color orange        #f7c67f;

/* ============================================================================ */
/* Global settings*/ 
/* ============================================================================ */
* {
    font-family: "JetBrainsMono Nerd Font", monospace; 
    font-size: 16px;
}

/* Top bar settings*/
window#waybar {
    color: @green;
    background: transparent;
    /* border-radius: 20px; */
    /* border: 2px solid @green; */
}
window#waybar.hidden {
    opacity: 0.2;
}

/* ============================================================================ */
/* Tooltips settings */
/* ============================================================================ */
tooltip {
  margin: 30px 0px;
  background: @background;
  border: 2px solid @magenta;
}
tooltip label {
  color: @green;
}

/* ============================================================================ */
/* Default Modules Style */
/* ============================================================================ */
#workspaces,
#network,
#bluetooth,
#battery,
#custom-cava,
#power-profiles-daemon,
#tray,
#keyboard-state,
#backlight,
#pulseaudio,
#clock { 
    color: @white;
    margin: 3px 2px;
    padding: 0px 5px;
    border-radius: 20px;
    background: @background;
}

/* ============================================================================ */
/* Left Modules */
/* ============================================================================ */
#workspaces {
  margin: 3px 2px 3px 10px;
  border: 2px solid @blue;
  background: @background;
}
/* Workspace that has something open but not active */
#workspaces button {
    color: @green;
    min-height: 0;    /* prevent default minimums */
    padding: 0px 8px;
}
#workspaces button.empty {} /* Background workspace that's empty */
/* Active Workspace */
#workspaces button.active {
    color: @magenta;
    padding: 0px 15px;
}
#workspaces button.empty.active { color: @magenta; } /* Active workspace that's empty */
#network {
    color: @cyan;
    padding: 0px 4px;
    border: 2px solid @cyan;
}
#bluetooth {
    color: @magenta;
    padding: 0px 8px;
    border: 2px solid @magenta;
}
#battery {
    color: @green;
    border: 2px solid @green;
}
#custom-cava {
    color: @blue;
    border: 2px solid @blue;
}

/* ============================================================================ */
/* Center Modules */
/* ============================================================================ */
#power-profiles-daemon {
    font-size: 17px;
    padding: 0px 2px;
}
#power-profiles-daemon.performance {
    color: @red;
    border: 2px solid @red;
}
#power-profiles-daemon.balanced {
    color: @orange;
    border: 2px solid @orange;
}
#power-profiles-daemon.power-saver {
    color: @cyan;
    border: 2px solid @cyan;
}

/* ============================================================================ */
/* Right Modules */
/* ============================================================================ */
#tray {
    padding: 0px 8px;
    border: 2px solid @blue;
}
#keyboard-state {
    color: @blue;
    border: 2px solid @blue;
}
#backlight {
    color: @cyan;
    border: 2px solid @cyan;
}
#pulseaudio {
    color: @magenta;
    border: 2px solid @magenta;
}
#clock {
    color: @green;
    margin: 3px 10px 3px 2px;
    border: 2px solid @green;
}

