/* Levy's Waybar Style */

/* ============================================================================ */
/* Colors */
/* ============================================================================ */
@define-color background    #212337;
@define-color black         #323449;
@define-color white         #ebfafa;
@define-color red           #f16c75;
@define-color green         #37f499;
@define-color blue          #7081d0;
@define-color yellow        #f1fc79;
@define-color magenta       #a48cf2;
@define-color cyan          #04d1f9;
@define-color orange        #f7c67f;

/* ============================================================================ */
/* Global settings*/ 
/* ============================================================================ */
* {
    font-family: "JetBrainsMono Nerd Font", monospace; 
    font-size: 16px;
}

/* Top bar settings*/
window#waybar {
    color: @green;
    background: transparent;
}
window#waybar.hidden {
    opacity: 0.2;
}

/* ============================================================================ */
/* Tooltips settings */
/* ============================================================================ */
tooltip {
  margin: 30px 0px;
  background: @background;
  border: 2px solid @magenta;
}
tooltip label {
  color: @green;
}

/* ============================================================================ */
/* Default Modules Style */
/* ============================================================================ */
#workspaces,
#island,
#custom-cava,

#power-profiles-daemon,

#tray,
#screen,
#custom-audio { 
    color: @white;
    margin: 2px 0px;
    padding: 0px;
    border-radius: 20px;
    border: 1px solid @white;
    background: @background;
}

/* ============================================================================ */
/* Left Modules */
/* ============================================================================ */
#workspaces {
  border: 2px solid @blue;
}
/* Workspace that has something open but not active */
#workspaces button {
    color: @green;
    min-height: 0;    /* prevent default minimums */
    padding: 0px 8px;
}
#workspaces button.empty {} /* Background workspace that's empty */
/* Active Workspace */
#workspaces button.active {
    color: @magenta;
    padding: 0px 15px;
}
/* Active workspace that's empty */
#workspaces button.empty.active { color: @magenta; }
#island {
    border: 2px solid @green;
}
#network {
    color: @cyan;
}
#bluetooth {
    color: @cyan;
}
#pulseaudio {
    color: @red;
}
#battery {
    color: @green;
}
#keyboard-state {
    color: @magenta;
}
#clock {
    color: @green;
}
#custom-cava {
    color: @cyan;
    border: 2px solid @cyan;
}

/* ============================================================================ */
/* Center Modules */
/* ============================================================================ */
#power-profiles-daemon {
    font-size: 17px;
    padding: 0px 2px;
}
#power-profiles-daemon.performance {
    color: @red;
    border: 2px solid @red;
}
#power-profiles-daemon.balanced {
    color: @orange;
    border: 2px solid @orange;
}
#power-profiles-daemon.power-saver {
    color: @cyan;
    border: 2px solid @cyan;
}

/* ============================================================================ */
/* Right Modules */
/* ============================================================================ */
#tray {
    padding: 0px 8px;
    border: 2px solid @blue;
}
#screen {
    color: @cyan;
    border: 2px solid @cyan;
}
#custom-audio {
    color: @magenta;
    border: 2px solid @magenta;
}

